[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  required = true
  process = git-lfs filter-process
[user]
  username = tangjeff0
  email = tangj1122@gmail.com
[core]
  editor = /usr/bin/vim
  excludesfile = ~/.gitignore_global
[push]
  default = current
[alias]
  a = add
  b = branch
  c = commit
  co = checkout
  d = diff
  f = fetch
  F = pull
  l = log --decorate=full --abbrev-commit
  p = push
  s = status
  r = rebase
  u = !git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`
  v = tag --sort=v:refname
[merge]
  conflictStyle = diff3
