[submodule "zsh-git-prompt"]
	path = zsh-git-prompt
	url = git@github.com:olivierverdier/zsh-git-prompt.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "tmux/plugins/tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = git@github.com:tmux-plugins/tmux-resurrect.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/bundle/indentLine"]
	path = vim/bundle/indentLine
	url = git@github.com:Yggdroot/indentLine.git
[submodule "vim/bundle/ale"]
	path = vim/bundle/ale
	url = git@github.com:w0rp/ale.git
[submodule "vim/bundle/powerline"]
	path = vim/bundle/powerline
	url = git@github.com:powerline/powerline.git
[submodule "vim/bundle/VimCompletesMe"]
	path = vim/bundle/VimCompletesMe
	url = git@github.com:ajh17/VimCompletesMe.git
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = git@github.com:mileszs/ack.vim.git
[submodule "vim/bundle/tcomment_vim"]
	path = vim/bundle/tcomment_vim
	url = git@github.com:tomtom/tcomment_vim.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
